<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Girginsoft. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Girginsoft_Shopfinder::girginsoft_shop_index" title="Shopfinder" module="Girginsoft_Shopfinder"  sortOrder="20" dependsOnModule="Girginsoft_Shopfinder" action="shopfinder/shop/index" resource="Girginsoft_Shopfinder::girginsoft_shop_index"/>
<!--AddMenu-->
    </menu>
</config>
